<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="media">
					<div>
						<img src="<?php echo $plugin['icon_url']; ?>" width="54" height="54" class="mr-3" />
					</div>
					<div class="media-body">
						<h4><?php echo $plugin['name']; ?> v<?php echo $plugin['version']; ?></h4>
						<p><?php echo $plugin['brief']; ?></p>
					</div>
				</div>
				<hr />
				<div class="row line-height-3">
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('plugin_dir');?></span>:
						<?php echo $dir; ?>
					</div>
					
					<div class="col-md-6">
						<span class="text-muted"><?php echo lang('plugin_bbs_version');?></span>:
						<?php echo $plugin['bbs_version']; ?>
					</div>
				</div>
				
				<hr />
				
				<p class="text-center">		
					<?php if($plugin['setting_url']) { ?>
					<a role="button" class="btn btn-primary setting" href="<?php echo url("plugin-setting-$dir"); ?>"><?php echo lang('setting');?></a>
					<?php } ?>
					
					<?php if($islocal && !$plugin['installed']) { ?>
					<a role="button" class="btn btn-primary install" href="<?php echo url("plugin-install-$dir"); ?>"><?php echo lang('install');?></a>
					<?php } ?>
					
					<?php if($plugin['installed'] && $plugin['enable']) { ?>
					<a role="button" class="btn btn-secondary disable" href="<?php echo url("plugin-disable-$dir"); ?>"><?php echo lang('disable');?></a>
					<?php } ?>
					
					<?php if($plugin['installed'] && !$plugin['enable']) { ?>
					<a role="button" class="btn btn-secondary enable" href="<?php echo url("plugin-enable-$dir"); ?>"><?php echo lang('enable');?></a>
					<?php } ?>
					
					<?php if($plugin['installed']) { ?>
					<a role="button" class="btn btn-danger unstall confirm" data-confirm-text="<?php echo lang('plugin_unstall_confirm_tips', array('name'=>$plugin['name']));?>" href="<?php echo url("plugin-unstall-$dir"); ?>"><?php echo lang('unstall');?></a>
					<?php } ?>
					
				</p>
		</div>
				
		<p class="mt-3 text-center">
			<a role="button" class="btn btn-secondary" href="javascript:history.back();" style="width: 210px;"><?php echo lang('back');?></a>
		</p>
	</div>
</div>

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>